/* font-family: "agoraserifpro-medium"; */
@font-face {
    font-family: "HelveticaNeueLight";
    src: url(../fonts/HelveticaNeueCyr-Light.otf);
}

@font-face {
    font-family: "HelveticaNeueMedium";
    src: url(../fonts/HelveticaNeueCyr-Medium.otf);
}

@font-face {
    font-family: "HelveticaNeueRoman";
    src: url(../fonts/HelveticaNeueCyr-Roman.otf);
}

@font-face {
    font-family: "HelveticaNeueUltraLight";
    src: url(../fonts/HelveticaNeueCyr-UltraLight.otf);
}
